# Django settings
SECRET_KEY=your_secret_key_here
MODULE_ENVIRONMENT=DEVELOPMENT  # Change to PRODUCTION for production environment

# Database settings
# For development with Docker
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# For production (example with Neon)
# DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

# Email settings
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
DEFAULT_FROM_EMAIL=Your Name <your_email@example.com>