{% load static %}
<section class="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'images/delivery-truck.svg' %}" alt="Free Shipping">
                    </div>
                    <h3 class="service-title">FREE SHIPPING</h3>
                    <p class="service-text">ON ORDER OVER RS.10000</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'images/handcraft.svg' %}" alt="Handcrafted Excellence">
                    </div>
                    <h3 class="service-title">HANDCRAFTED EXCELLENCE</h3>
                    <p class="service-text">ARTISANAL QUALITY</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'images/quality.svg' %}" alt="Premium Materials">
                    </div>
                    <h3 class="service-title">PREMIUM MATERIALS</h3>
                    <p class="service-text">FINEST JEWELRY</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'images/support.svg' %}" alt="Support">
                    </div>
                    <h3 class="service-title">SUPPORT</h3>
                    <p class="service-text">24/7 SUPPORT</p>
                </div>
            </div>
        </div>
    </div>
</section>