{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
                <h2 class="mb-4">Thank You {{request.user.username | title }} For Your Order🎉</h2>
                
                <div class="order-details">
                    <h3>Order #{{ order.id }}</h3>
                    <p><strong>Order Date:</strong> {{ order.created_at }}</p>
                    <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
                    <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
                    
                    <h4 class="mt-4">Order Items</h4>
                
                    <p><strong>Subtotal:</strong> Rs. {{ subtotal }}</p>
                    <p><strong>Total Quantity:</strong> {{ total_quantity }}</p>
                    <p><strong>Delivery Charges:</strong> Rs.250</p>
                    <p><strong>Total:</strong> Rs.{{ order.total_price }}</p>
                    
                    <a href="{% url 'shop:shop' %}" class="btn btn-primary">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
